/* ------------------------------------------------------------------------------------------------------------------ */
/* Background color and font */
body {
    background: #EEE;
    color: #555;
    font-family: 'RobotoDraft', sans-serif;
}

/* Toolbar */
core-toolbar {
    background: #455A64;
    color: white;
}

/* Application title in toolbar */
core-toolbar #appTitle {
    display: none;
}